{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        {% if request.user.is_authenticated %}
            Привет, <b>{{ request.user.username }}</b> <br>
            <div><a href="{% url 'signup' %}">Зарегистрировать нового пользователя</a> </div>
            <div><a href="{% url 'login' %}">Войти под другим пользователем</a> </div>
            <div><a href="{% url 'logout' %}">Выход</a></div>
        {% else %}
            Привет, <b>гость</b>.<br>
            Пожалуйста, <a href="{% url 'signup' %}">зарегистрируйся</a> или <a href="{% url 'login' %}">авторизуйся</a>!
        {% endif %}
    </div>
{% endblock %}